/* Set the background color of the page */
body {
  background:pink ;
}

/* Style for top-level headings */
h1 {
  color: blue;
  font-size: 3em;
}

/* Style for subheadings */
h2 {
  color: green;
  font-weight: normal;
  font-style: italic;
}

/* Style for completed tasks */
.completed {
  font-size: 12px;
}

/* Style for completed tasks within the #tasks container */
#tasks .completed {
  background: #ccc;
  text-decoration: underline;
}
